* {
    box-sizing: border-box;
}

img {
    width: 200px;
    height: 200px;
}

body {
    background-image: url(../images/bananas.png);
}

header {
    font-size: 30px;
    background-color: rgb(245, 175, 46);
}

.directions {
    background-color: rgb(251,230,207);
    max-width: 800px;
    color: green;
    font-size: 18px;
}

.random-number-box {
    background-color: rgb(83,201,133);
    min-width: 300px;
    min-height: 200px;
    font-size: 30px;
}

.win-loss-box {
    background-color: lightblue;
    min-height: 200px;
    min-width: 100px;
}

#win {
    padding-bottom: 20px;
}

#loss {
   padding-top: 20px;
}

.crystal-box {
}

.scorebox {
    background-color: rgb(32,162,149);
    color: white;
    font-size: 30px;
}